<template id="simp-article-template">
  <style>
    a {
      text-decoration: none;
      color: inherit;
    }
    article {
      padding: 8px 16px;
      border-radius: 8px;
      background: #eee;
      margin: 8px 0;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
    }
    h2 {
      text-decoration: none;
      color: blue;
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 8px;
      padding: 0;
    }
  </style>
  <article>
    <h2><slot name="title" /></h2>
    <slot />
  </article>
</template>

<script>
  $component("simp-article", "simp-article-template", {
    onMount: (el) => {
      if (el.getAttribute("slug")) {
        const anchor = $el("a", [], {
          href: `/article/${el.getAttribute("slug")}`,
        });
        el.shadowRoot.appendChild(anchor);
        anchor.appendChild(el.shadow("article"));
      }
    },
  });
</script>
